<h2 class="h5">{{ title|raw }}</h2>
{% if description %}
    <div>{{ description|raw }}</div>
{% endif %}
{% if image %}
    <div class="my-2 border border-gray-200 rounded">
        {{ image|raw }}
    </div>
{% endif %}
{{ alert|raw }}

