<div class="row">
    <div class="col-12 col-lg-6 pb-4 pb-md-0 variations">
        {{ fields|raw }}
    </div>
    <div class="col-12 col-lg-6">
        {% set sidebar_content = apply_filters('product_multi_step_choice_variations_content', '', product) %}
        {% if sidebar_content is not empty %}
            <div class="bg-gray-100 rounded p-5 mb-3">
                {{ sidebar_content|raw }}
            </div>
        {% endif %}
    </div>
</div>